<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registrar Agenda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card class="agenda-container">
    <ion-card-header class="header">
      <ion-card-title>{{ fechaSeleccionada }}</ion-card-title>
    </ion-card-header>

    <ion-card-content class="form-container">
      <ion-label position="stacked">Motivo</ion-label>
      <ion-input type="text" placeholder="Ingrese motivo" [(ngModel)]="motivo"></ion-input>

      <ion-label position="stacked">Fecha</ion-label>
      <ion-input type="date" [(ngModel)]="fecha"></ion-input>

      <ion-label position="stacked">Hora</ion-label>
      <div class="hora-group">
        <ion-input type="time" [(ngModel)]="hora"></ion-input>
        <ion-select interface="popover" [(ngModel)]="turno">
          <ion-select-option value="AM">AM</ion-select-option>
          <ion-select-option value="PM">PM</ion-select-option>
        </ion-select>
      </div>

      <ion-button expand="block" color="primary" class="guardar-btn" (click)="guardarAgenda()">
        Guardar
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
