<ion-header>
  <div class="header">
    <img src="../../assets/images/aea-pica.png" alt="Logo Institución" class="logo-header" />
    <h1>Institución Educativa 2005 Retablo</h1>
  </div>
</ion-header>

<ion-content class="main-content">
  <div class="container">
    <!-- Título sección -->
    <h2 class="section-title">Menú Principal</h2>

    <!-- Menú principal -->
    <div class="menu-grid">
      <!-- Íconos más importantes arriba -->
      <div class="menu-item" (click)="goToCalendario()">
        <ion-icon name="calendar-outline"></ion-icon>
        <p>Calendario de reuniones</p>
      </div>
      <div class="menu-item" (click)="goToMensajes()">
        <ion-icon name="chatbubble-outline"></ion-icon>
        <p>Mensajes</p>
      </div>

      <div class="menu-item" (click)="goToReuniones()">
        <ion-icon name="people-outline"></ion-icon>
        <p>Reuniones programadas</p>
      </div>

      <div class="menu-item" (click)="goToReportes()">
        <ion-icon name="document-text-outline"></ion-icon>
        <p>Reportes de asistencia o actividad</p>
      </div>

      <!-- Íconos menos prioritarios abajo y centrados -->
      <div class="menu-row-center">
        <div class="menu-item" (click)="goToConfiguracion()">
          <ion-icon name="settings-outline"></ion-icon>
          <p>Configuración</p>
        </div>

        <div class="menu-item" (click)="goToPerfil()">
          <ion-icon name="person-outline"></ion-icon>
          <p>Perfil</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
