<ion-content [fullscreen]="true" class="login-content">
  <!-- Imagen de fondo -->
  <div class="background-image"></div>

  <!-- Botón de regreso -->
  <ion-button class="custom-back-button" (click)="goBack()">
    <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
  </ion-button>

  <div class="login-card">
    <img src="assets/images/LogoColegio.jpeg" class="logo" alt="Logo" />
    <h2 class="school-name">Institución Educativa<br />2005 Retablo</h2>
    <h3 class="welcome-text">Crear cuenta con Google</h3>

  </div>
</ion-content>
