<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Calendario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <!-- Navegación de Mes -->
  <div class="month-nav ion-text-center">
    <ion-button fill="clear" (click)="prevMonth()">
      <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
    </ion-button>

    <span class="month-title">{{ monthNames[displayedMonth].toUpperCase() }}</span>

    <ion-button fill="clear" (click)="nextMonth()">
      <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </div>

  <!-- Días estilo tarjetas agenda -->
  <ion-list class="day-cards">
    <ion-card class="day-card" *ngFor="let item of calendarDays" (click)="goToRecordatorio(item.day, displayedMonth)">
      <ion-card-header class="day-header">
        <div class="day-name">{{ item.dayName }}</div>
        <div class="day-number">{{ item.day }}</div>
        <div class="month">{{ monthNames[displayedMonth].slice(0, 3).toUpperCase() }}</div>
      </ion-card-header>


      <ion-card-content *ngIf="item.events?.length">
        <div class="events">
          <div class="event" *ngFor="let event of item.events">
            <span class="event-time">{{ event.hora }}</span>
            <span class="event-title">{{ event.titulo }}</span>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <!-- Navegación extra -->
  <div class="nav-link ion-padding">
    <ion-button expand="block" routerLink="/registrar-agenda">Ir a Registrar Agenda</ion-button>
    <ion-button expand="block" color="secondary" routerLink="/recordatorio">Ir a Recordatorio</ion-button>
  </div>

</ion-content>
