<ion-header>
  <ion-toolbar>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list class="config-list">

    <ion-item button lines="none" (click)="toggleNotificaciones()">
      <ion-icon name="notifications-outline" slot="start"></ion-icon>
      <ion-label>Notificaciones</ion-label>
      <ion-toggle slot="end" [checked]="notificacionesActivas"></ion-toggle>
    </ion-item>

    <ion-item button lines="none" (click)="toggleDarkMode()">
      <ion-icon name="moon-outline" slot="start"></ion-icon>
      <ion-label>Modo Oscuro</ion-label>
      <ion-toggle slot="end" [checked]="modoOscuro"></ion-toggle>
    </ion-item>

    <ion-item button lines="none">
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-label>Cambiar contraseña</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="globe-outline" slot="start"></ion-icon>
      <ion-label>Idioma</ion-label>
      <ion-select placeholder="Seleccionar" interface="popover">
        <ion-select-option value="es">Español</ion-select-option>
        <ion-select-option value="en">Inglés</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item button lines="none">
      <ion-icon name="shield-checkmark-outline" slot="start"></ion-icon>
      <ion-label>Privacidad</ion-label>
    </ion-item>

    <ion-item button class="btn-cerrar-sesion" lines="none" (click)="cerrarSesion()">
  <ion-icon name="log-out-outline" slot="start"></ion-icon>
  <ion-label>Cerrar sesión</ion-label>
</ion-item>



  </ion-list>
</ion-content>
