<ion-content fullscreen class="welcome-page">
  <div class="overlay">

    <div class="intro-text">
      <p class="pretitle">Portal del Estudiante</p>
    </div>

    <div class="title">
      <h1>Institución Educativa<br>2005 Retablo</h1>
      <p class="subtitle">¡Juntos construimos el futuro!</p>
    </div>

    <div class="logo-bottom">
      <img src="../../assets/icon/logo.jpeg" alt="Logo IE" />
    </div>

    <div class="motto">
      <p>📘 Educar es sembrar futuro</p>
    </div>

    <div class="buttons">
      <ion-button class="btn-iniciar" expand="block" routerLink="/intro">
        <ion-icon name="school-outline"></ion-icon>
        &nbsp;Iniciar Sesión
      </ion-button>
      <ion-button class="btn-registrar" expand="block" routerLink="/crear-cuenta">
        <ion-icon name="book-outline"></ion-icon>
        &nbsp;Registrarse
      </ion-button>
    </div>

  </div>
</ion-content>
